<!--    &lt;!&ndash; 회원권 남은 일수 카드 &ndash;&gt;-->
<!--    <section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-2 pb-4">-->
<!--        <div class="w-full grid grid-cols-5 gap-0 mb-6">-->
<!--            &lt;!&ndash; 왼쪽 흰 카드 &ndash;&gt;-->
<!--            <div class="col-span-3 bg-white rounded-l-2xl shadow p-6 border border-gray-100">-->
<!--                <p class="text-sm text-gray-400">회원권</p>-->
<!--                <h3 class="mt-2 text-xl font-extrabold"-->
<!--                    th:text="${membership != null && membership.name != null ? membership.name : '3개월 카드'}">3개월 카드</h3>-->
<!--                <div class="mt-6">-->
<!--                    <span th:if="${membership != null and membership.onHold}"-->
<!--                          class="inline-block px-4 py-2 rounded-xl bg-orange-400 text-white text-sm font-bold">회원권 홀딩중</span>-->

<!--                    <span th:if="${membership == null or !membership.onHold}"-->
<!--                          class="inline-block px-4 py-2 rounded-xl bg-emerald-500 text-white text-sm font-bold">이용중</span>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; 오른쪽 오렌지 카드 &ndash;&gt;-->
<!--            <div class="col-span-2 bg-orange-400 text-white rounded-r-2xl shadow p-6 flex flex-col justify-between border border-orange-300">-->
<!--                <div>-->
<!--                    <p class="text-sm/none opacity-90"-->
<!--                       th:text="${(membership != null and membership.onHold) ? '회원권 홀딩중' : '남은 기간'}">남은 기간</p>-->
<!--                    <p class="mt-2 text-3xl font-extrabold"-->
<!--                       th:text="${'D-' + (membership != null ? membership.remainingDays : 35)}">D-35</p>-->
<!--                </div>-->
<!--                <div class="mt-4">-->
<!--                    <a th:if="${membership?.onHold}" th:href="@{/membership/hold/cancel}"-->
<!--                       class="inline-flex items-center justify-center px-4 py-2 rounded-xl bg-white text-orange-500 font-bold">홀딩-->
<!--                        해제</a>-->
<!--                    <a th:if="${!membership?.onHold}" th:href="@{/membership/hold}"-->
<!--                       class="inline-flex items-center justify-center px-4 py-2 rounded-xl bg-white text-orange-500 font-bold">홀딩-->
<!--                        신청</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->